<a href="https://colab.research.google.com/github/Antonio24ch/Python_Intermediate_DataCamp/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a for loop that goes through each key:value pair of europe. On each iteration, "the capital of x is y" should be printed out, where x is the key and y is the value of the pair.

In [1]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items() :
     print("the capital of " + str(key) + " is " + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

* Write a for loop that iterates over the rows of cars and on each iteration perform two print() calls: one to print out the row label and one to print out all of the rows contents.

In [4]:
# Import cars data
import pandas as pd
countries = pd.read_csv('countries.csv', index_col = 0)

# Iterate over rows of cars
for lab,row in countries.iterrows():
    print(lab)
    print(row)

809
country         United States
drives_right             True
Name: 809, dtype: object
731
country         Australia
drives_right        False
Name: 731, dtype: object
588
country         Japan
drives_right    False
Name: 588, dtype: object
18
country         India
drives_right    False
Name: 18, dtype: object
200
country         Russia
drives_right      True
Name: 200, dtype: object
70
country         Morocco
drives_right       True
Name: 70, dtype: object
45
country         Egypt
drives_right     True
Name: 45, dtype: object